
  <div class="row">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div id="movie-list" class="container-fluid">
  <div class="row">
    <div class="col-md-6 movie-col">
      <p></p>
      <h4>Movies List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let movie of movies; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveMovie(movie, i)"
        >
          {{ movie.title }}
        </li>
      </ul>
    </div>

    <div class="col-md-6  movie-col">
      <div *ngIf="currentMovie">
        <p></p>
        <h4>Movie</h4>

        <div>
          <img class="image-thumb" src="{{ defaultPic }}" 
          (error)="setDefaultPic()" />
        </div>
        <br />
        <div>
          <label><strong>Title:    </strong>
            {{ currentMovie.title }}</label> 
        </div>

        <div>
          <label><strong>Release Date:   </strong>
            {{ currentMovie.release_date }} </label>
        </div>

        <div>
          <label><strong>Status:    </strong>
            {{ currentMovie.movie_publish ? "Published" : "Pending" }}</label>      
        </div>
        <p></p>
        <a class="btn btn-primary me-2" routerLink="/movies/{{ currentMovie.id }}">
          Edit
        </a>
      </div>

      <div *ngIf="!currentMovie">
        <br />
        <p>Please click on a Movie...</p>
      </div>
    </div>
  </div>
</div>
