.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }

input:placeholder-shown {
    font-style: italic;
 }

label, input {
  display: block;
}

.image-thumb {
  max-height: 210px;
  width: auto;
}