<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <p></p>
      <h4>Movies List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let movie of movies; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveMovie(movie, i)"
        >
          {{ movie.title }}
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <div *ngIf="currentMovie">
        <p></p>
        <h4>Movie</h4>

        <div>
          <img class="image-thumb" src="{{ currentMovie.movie_img }}" 
          (error)="setDefaultPic()" />
        </div>

        <div>
          <label><strong>Id:</strong></label> 
          {{ currentMovie.id }}
        </div>
        
        <div>
          <label><strong>Title:</strong></label> 
          {{ currentMovie.title }}
        </div>

        <div>
          <label><strong>Release Date:</strong></label>
          {{ currentMovie.release_date }}
        </div>

        <div>
          <label><strong>Movie Image:</strong></label>
          {{ currentMovie.movie_img }}
        </div>

        <div>
          <label><strong>Status:</strong></label>
          {{ currentMovie.movie_publish ? "Published" : "Pending" }}
        </div>
  
        <a class="badge badge-warning" routerLink="/movies/{{ currentMovie.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentMovie">
        <br />
        <p>Please click on a Movie...</p>
      </div>
    </div>
  </div>