.image-thumb {
    max-height: 25px;
    width: auto;
}

.navbar-custom {
    background-color: #000000;
}

.navbar-custom .navbar-brand {
    color: white;
    position: absolute;
    left: 40px;
    margin-left: 20px;
}

.navbar-custom .navbar-btn {
    color: white;
    position: absolute;
    right: 40px;
    margin-right: 20px;
}

.navbar-custom .navbar-text,
.navbar-custom .nav-link {
    color: gray;
}

.navbar-custom .nav-item:hover .nav-link {
    color: white;
}

.container {
    display : flex;
    justify-content: center;
}

img {
    display: inline-block;
    margin: 10px 20px;
}