<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Robots-In-Movies</a>

    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="movies" class="nav-link">Movies</a>
      </li>
      <li class="nav-item">
        <a routerLink="movies/add" class="nav-link">Add</a>
      </li>
    </div>

    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="actors" class="nav-link">Robots</a>
      </li>
      <li class="nav-item">
        <a routerLink="actors/add" class="nav-link">Add</a>
      </li>
    </div>

  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>