<div>
  <nav class="navbar navbar-expand navbar-custom">
    <div class = "container">

    <a href="#" class="navbar-brand">Movie-Robots</a>

    <div class="navbar-nav mr-auto">
      <img class="image-thumb" src="https://i.ibb.co/GT97v8Z/image1.png" />
    </div>

    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="movies" class="nav-link">Movies</a>
      </li>
    </div>
      
    <div class="navbar-nav mr-auto">
      <img class="image-thumb" src="https://i.ibb.co/MP3qgw0/image7.png" />
    </div>

    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="movies/add" class="nav-link">Add Movies</a>
      </li>
    </div>

    <div class="navbar-nav mr-auto">
      <img class="image-thumb" src="https://i.ibb.co/cFT9yb1/image5.png" />
    </div>

    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="actors" class="nav-link">Robots</a>
      </li>
    </div>

    <div class="navbar-nav mr-auto">
      <img class="image-thumb" src="https://i.ibb.co/fdzNpNK/image6.png" />
    </div>

    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="actors/add" class="nav-link">Add Robots</a>
      </li>
    </div>
  </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>