<form #form="ngForm" (ngSubmit)="saveMovie(form)" novalidate>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <br />
        <h4>Add Movie</h4>
        <p></p>
        
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            #title="ngModel"
            required
            minlength="2"
            [(ngModel)]="movie.title"
            name="title"
          />
        </div>
     
        <div *ngIf="title.invalid && (title.dirty || title.touched)"
          class="alert alert-danger">
          <div *ngIf="title.errors.required">
            Title is required.
          </div>
          <div *ngIf="title.errors.minlength">
            Title must be 2 characters long.
          </div>
        </div>

        <div class="form-group">
            <label for="release_date">Release Date</label>
            <input
              type="text"
              onfocus="(this.type='date')"
              class="form-control"
              name="release_date"
              placeholder="mm/dd/yyyy"
              #release_date="ngModel"
              required
              [(ngModel)]="movie.release_date"
            />
          </div>

        <div class="form-group">
            <label for="movie_img">Movie Image</label>
            <input
              id="movie_img"
              type="text"
              class="form-control"
              name="movie_img"
              placeholder="https://starwars.png"
              #movie_img="ngModel"
              required
              [(ngModel)]="movie.movie_img"
              [ngModelOptions]="{ updateOn: 'blur' }" 
              pattern="(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|jpeg|gif|png|svg)"
            />
        </div>

        <div *ngIf="movie_img.invalid && (movie_img.dirty || movie_img.touched)"
          class="alert alert-danger">
          <div *ngIf="movie_img.errors.required">
            URL is required.
          </div>
          <div *ngIf="movie_img.errors.pattern">
            Please enter valid url.
          </div>
        </div>
  
        <p></p>
        <button class="btn btn-success"  *ngIf="isDirector" [disabled]="form.invalid">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Movie was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newMovie()">Add</button>
      </div>
    </div>
</form>