<div>
    <div *ngIf="currentActor.id" class="edit-form">
      <h4>Actor</h4>

      <form>
        <div class="form-group">
          <label for="id">Id</label>
          <input
            type="text"
            class="form-control"
            [readonly]="!editable"
            id="id"
            [(ngModel)]="currentActor.id"
            name="id"
          />
        </div>

        <div class="form-group">
          <label for="first_name">First Name</label>
          <input
            type="text"
            class="form-control"
            id="first_name"
            [(ngModel)]="currentActor.first_name"
            name="first_name"
          />
        </div>

        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="last_name"
            [(ngModel)]="currentActor.last_name"
            name="last_name"
          />
        </div>

        <div class="form-group">
            <label for="birth_date">Birth Date</label>
            <input
              type="text"
              class="form-control"
              id="birth_date"
              [(ngModel)]="currentActor.birth_date"
              name="birth_date"
            />
          </div>

        <div class="form-group">
            <label for="gender">Gender</label>
            <input
              type="text"
              class="form-control"
              id="gender"
              [(ngModel)]="currentActor.gender"
              name="gender"
            />
        </div>  

        <div class="form-group">
            <label for="actor_img">Actor Image</label>
            <input
              type="text"
              class="form-control"
              id="actor_img"
              [(ngModel)]="currentActor.actor_img"
              name="actor_img"
            />
        </div> 
  
        <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentActor.actor_publish ? "Published" : "Pending" }}
        </div>
      </form>
  
      <button
        class="badge badge-primary mr-2"
        *ngIf="currentActor.actor_publish"
        (click)="unpublishActor()"
      >
        UnPublish
      </button>

      <button
        *ngIf="!currentActor.actor_publish"
        class="badge badge-primary mr-2"
        (click)="publishActor()"
      >
        Publish
      </button>
  
      <button class="badge badge-danger mr-2" (click)="deleteActor()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2" 
        (click)="updateActor()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentActor.id">
      <br />
      <p>Cannot access this Actor...</p>
    </div>
  </div>
