<form #form="ngForm" novalidate>
  <div class="submit-form">
    <div *ngIf="currentMovie.id" class="edit-form">
      <h4>Movie</h4>

      <form>
        <div class="form-group">
          <label for="id">Id</label>
          <input
            type="text"
            class="form-control"
            [readonly]="!editable"
            id="id"
            [(ngModel)]="currentMovie.id"
            name="id"
          />
        </div>

        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            #title="ngModel"
            required
            minlength="2"
            id="title"
            [(ngModel)]="currentMovie.title"
            name="title"
          />
        </div>

        <div *ngIf="title.invalid && (title.dirty || title.touched)"
          class="alert alert-danger">
          <div *ngIf="title.errors.required">
            Title is required.
          </div>
          <div *ngIf="title.errors.minlength">
            Title must be at least 2 characters.
          </div>
        </div>

        <div class="form-group">
            <label for="release_date">Release Date</label>
            <input
              type="text"
              onfocus="(this.type='date')"
              class="form-control"
              name="release_date"
              #release_date="ngModel"
              required
              id="release_date"
              [(ngModel)]="currentMovie.release_date"
            />
        </div>

        <div class="form-group">
            <label for="movie_img">Movie Image</label>
            <input
              id="movie_img"
              type="text"
              class="form-control"
              name="movie_img"
              #movie_img="ngModel"
              required
              [(ngModel)]="currentMovie.movie_img"
              [ngModelOptions]="{ updateOn: 'blur' }" 
              pattern="(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|jpeg|gif|png|svg)"
            />
        </div>
 
        <div *ngIf="movie_img.invalid && (movie_img.dirty || movie_img.touched)"
          class="alert alert-danger">
          <div *ngIf="movie_img.errors.required">
            URL is required.
          </div>
          <div *ngIf="movie_img.errors.pattern">
            Please enter valid url.
          </div>
        </div>
  
        <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentMovie.movie_publish ? "Published" : "Pending" }}
        </div>
      </form>
  
      <br />
      <button
        class="btn btn-primary me-2"
        *ngIf="currentMovie.movie_publish && isAssistant"
        (click)="unpublishMovie()"
      >
        UnPublish
      </button>
      
      <button
        class="btn btn-primary me-2"
        *ngIf="!currentMovie.movie_publish && isAssistant"
        (click)="publishMovie()"
      >
        Publish
      </button>
  
      <button class="btn btn-danger me-2" *ngIf="isDirector" (click)="deleteMovie()">
        Delete
      </button>
  
      <button
        class="btn btn-success me-2" [disabled]="form.invalid" (click)="updateMovie()" >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentMovie.id">
      <br />
      <p>Cannot access this Movie...</p>
    </div>
  </div>
</form>
