<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by first name"
          [(ngModel)]="first_name"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchFirstName()"
          >
            Search
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <p></p>
      <h4>Robot List</h4>

      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let actor of actors; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveActor(actor, i)"
        >
          {{ actor.first_name }}
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <div *ngIf="currentActor">
        <p></p>
        <h4>Robot</h4>

        <div>
          <img class="image-thumb" src="{{ currentActor.actor_img }}" 
          (error)="setDefaultPic()" />
        </div>
        <br />
        <div>
          <label><strong>First Name:    </strong>
          {{ currentActor.first_name }} </label>
        </div>

         <div>
          <label><strong>Last Name:    </strong>
          {{ currentActor.last_name }} </label>
        </div>

        <div>
          <label><strong>Birth Date:    </strong>
          {{ currentActor.birth_date }} </label>
        </div>
        
        <div>
          <label><strong>Gender:    </strong>
          {{ currentActor.gender }} </label>
        </div>

        <div>
          <label><strong>Status:    </strong>
          {{ currentActor.actor_publish ? "Published" : "Pending" }}
        </label>
        </div>
        <p></p>
        <a class="btn btn-primary me-2" routerLink="/actors/{{ currentActor.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentActor">
        <br />
        <p>Please click on a Robot...</p>
      </div>
    </div>
</div>
