<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by first name"
          [(ngModel)]="first_name"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchFirstName()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Actors List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let actor of actors; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveActor(actor, i)"
        >
          {{ actor.first_name }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllActors()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentActor">
        <h4>Actor</h4>

        <div>
          <label><strong>First Name:</strong></label> 
          {{ currentActor.first_name }}
        </div>

        <div>
          <label><strong>Last Name:</strong></label>
          {{ currentActor.last_name }}
        </div>

        <div>
          <label><strong>Birth Date:</strong></label>
          {{ currentActor.birth_date }}
        </div>
        
        <div>
          <label><strong>Gender:</strong></label>
          {{ currentActor.gender }}
        </div>
                
        <div>
            <label><strong>Actor Image:</strong></label>
            {{ currentActor.actor_img }}
          </div>

        <div>
          <label><strong>Status:</strong></label>
          {{ currentActor.actor_publish ? "Published" : "Pending" }}
        </div>
  
        <a class="badge badge-warning" routerLink="/actors/{{ currentActor.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentActor">
        <br />
        <p>Please click on an Actor...</p>
      </div>
    </div>
  </div>
