.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

input:placeholder-shown {
  font-style: italic;
}

label, input {
display: block;
}

.image-thumb {
max-height: 125px;
width: auto;
}

@media (min-width: 992px) {
  .movie-col {
    min-width: 300px;
  }
}
